# Ignorer les builds et exécutables
dist/
build/
#ignorer les fichiers data mais laisser les images
data/*
!data/images/
data/images/*
!data/images/*.png
!data/images/*.jpg
!data/images/*.jpeg
*.exe
*.pkg
#ignorer les fichiers temporaires et les fichiers compilés
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
