# Ignorer les builds et exécutables
dist/
build/
#ignorer les fichiers data mais laisser les images et CSV
data/*
!data/*.csv
!data/*.xlsx
!data/images/
data/images/*
!data/images/*.png
!data/images/*.jpg
!data/images/*.jpeg
!data/images/Images Bestiaire/
!data/images/Images Bestiaire/*.png
!data/images/Images Bestiaire/*.jpg
!data/images/Images Bestiaire/*.jpeg
*.exe
*.pkg
#ignorer les fichiers temporaires et les fichiers compilés
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignorer les configurations locales Claude
.claude/
